<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#41414C" />
  <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
  <title>Jobinho | <%= title='Seu amigo clockinho' %></title>
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/partials/page-header.css" />
  <link rel="stylesheet" href="/styles/partials/page-footer.css" />
  <link rel="stylesheet" href="/styles/partials/cards.css" />
  <link rel="stylesheet" href="/styles/partials/buttons.css" />
  <link rel="stylesheet" href="/styles/partials/modal.css" />
  <link rel="stylesheet" href="/styles/partials/animations.css" />
  <link rel="stylesheet" href="/styles/pages/clock.css" />
  <link rel="stylesheet" href="/styles/pages/index.css" />

  <link rel="preconnect" href="https://fonts.gstatic.com" />

  <link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
    rel="stylesheet" />

  <script src="scripts/clock-index.js" defer type="module"></script>
  <script src="scripts/pomodoro.js" defer type="module"></script>
</head>

<body class="clock-body">
  <header class="page-header">
    <div class="container">
      <section id="top" class="animate-right">
        <h2 class="sr-only">Homepage</h2>
        <img id="logo" src="/images/clockinho.svg" alt="Logo" />
        <a href="/profile" class="avatar-profile ">
          <p>Pedro <span>Ver perfil</span></p>
          <img src="https://avatars.githubusercontent.com/u/47431870?v=4" alt="Pedro" />
        </a>
      </section>
      <div class="separator"></div>
  </header>
  <!-- fim do header -->
  <main class="clock-main">
    <%- include('parts/clock-modes') %>
    <ul class="pomo-modes">
      <button><h4 id="work" class="selected animate-right">Trabalho</h4></button>
      <button><h4 id="short-break" class=" animate-right">Relaxadinha</h4></button>
      <button><h4 id="long-break" class=" animate-right">Descanço</h4></button>
    </ul>
      <div class="clock animate-right">
        <span class="timer hours">00</span>
        <span class="timer-separator">:</span>
        <span class="timer minutes-seconds">
          <span class="timer minutes">25</span>
          <span class="seconds">00</span>
        </span>
      </div>
      <section class="button-section">
        <div id="start" class="clock-buttons visible animate-right">
          <a class="button button-positive">
            Iniciar
          </a><!-- 
          <a class="button button-define">
            Definir tempo
          </a> -->
        </div>
        <div id="pause" class="animate-right clock-buttons animate-right">
          <a class="button button-pause">
            Pausar
          </a>
        </div>
        <div id="reset" class="animate-right clock-buttons animate-right">
          <a class="button button-positive">
            Retomar
          </a>
          <a class="button button-reset" id="work-reset">
            Resetar
          </a>
        </div>
      </section>
      <section class="modal-background">
        <div class="clock-modal">
          <h1 id="define">Defina um horário</h1>
          <form id="form-clock" method="post" action="/clock">
            <label for="time">(HH : MM : SS)</label>
            <input id="time" required id="time" type="time" aria-labelledby="define" step="1" />
            <span>
              <a class="button button-cancel">
                Cancelar
              </a>
              <a type="submit" form="form-clock" title="Definir Tempo" class="button button-positive">
                Confirmar
              </a>
            </span>
          </form>
        </div>
      </section>
  </main>
  <!-- fim do body -->

  <%- include('parts/page-footer', {jobs: '' , clock: 'selected' , about: '' } ) %>
    </div>
    <!-- end modal-wrapper -->
</body>

</html>