<div class="clock-modes-container animate-right">
    <ul>
        <a href="#"  class="selected"><li>Pomodoro</li></a>
        <li class="disabled">Cronômetro</li>
        <li class="disabled">Alarme</li>
        <li class="disabled">Temporizador</li>
    </ul>
</div>