<div class="clock-modes-container animate-right">
    <ul>
        <a href="/clock" class=" <%= pomodoro %>  "><li>Pomodoro</li></a>
        <a href="/cronometer" class=" <%= cronometer %>  "><li>Cronômetro</li></a>
        <li class="disabled">Alarme</li>
        <li class="disabled">Temporizador</li>
    </ul>
</div>