<footer class="nav animate-right delay-2">
    <a href="/" class="<%= jobs %>"><img src="/images/meus-jobinhos.svg" alt="Meus jobinhos" title="Meus jobinhos" /></a>
    <a href="/clock" class="<%= clock %>"><img src="/images/clockinho.svg" alt="Clockinho" title="Clockinho"></a>
    <a href="/about" class=" <%= about %> "><img src="/images/about-project.svg" alt="Sobre o projeto" title="Sobre o projeto" /></a>
</footer>